<h2 mat-dialog-title>Редагування документа</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline" class="full-width" [formGroup]="form">
    <mat-label>Назва документа</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Скасувати</button>
  <button mat-button (click)="updateDocument()" [disabled]="isProcessing">
    Зберегти
  </button>
  @if (canDelete()) {
    <button mat-button (click)="deleteDocument()">Видалити</button>
  }
  @if (canRevoke()) {
    <button mat-button color="accent" (click)="withdrawDocument()">
      Відкликати
    </button>
  }
</mat-dialog-actions>
