<h2 mat-dialog-title>Editing a document</h2>

<mat-dialog-content class="mat-typography" [formGroup]="form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Document name</mat-label>
    <input matInput formControlName="name" [disabled]="isReviewer" />
  </mat-form-field>

  @if (isReviewer) {
    @if (isUnderReview || isReadyForReview) {
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Document status</mat-label>
        <mat-select formControlName="status">
          @for (status of statuses; track status) {
            <mat-option [value]="status">
              {{ status }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    } @else {
      <p>
        You can only change the status if the document is in the review process or ready for it.
      </p>
    }
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()" class="error">Cancel</button>
  @if (statuses.length || !isReviewer) {
    <button mat-button (click)="updateDocument()" [disabled]="isProcessing">
      Save
    </button>
  }
</mat-dialog-actions>
